body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(37, 86, 86);
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input, form textarea, form button {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button {
  background: #811919;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #811919;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

li h3 {
  margin: 0 0 5px;
}

li p {
  margin: 5px 0;
  color: #555;
}

button {
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button.delete {
  background-color: red;
  color: white;
}

button.edit {
  background-color: green;
  color: white;
}

button.add-to-collection {
  background-color: blue;
  color: white;
}

button.add-recipe {
  background-color: orange;
  color: white;
}

button.delete:hover {
  background: #c82333;
}

button.edit:hover {
  background: #218838;
}